:root {
    --black: #250902;
    --brown1: #38040E;
    --brown2: #640D14;
    --red1: #800E13;
    --red2: #AD2831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--red2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.s1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.img-s1 {
    width: 100%;
    height: auto;
    box-shadow: 0 4px 20px #090909;
}

.title {
    font-family: "Libre Bodoni", serif;
    color: black;
    padding-left: 20px;
    padding-top: 50px;
    font-weight: 900;
    font-size: 36px;

}

.frase{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    color: var(--black);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

.line2{
    width: 90%;
    height: 5px;
    border: var(--red1);
    background-color: var(--red1);
    display: block;
}

.line3{
    width: 90vw;
    height: 5px;
    border: var(--red1);
    background-color: var(--red1);
    display: block;
}

.preconnect {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: var(--brown1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.line {
    background-color: var(--black);
    height: 3px;
    border: var(--red1);
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.s2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 80vh;
    height: auto;
}

.card {
    background-color: var(--brown2);
    border-radius: 20px;
    box-shadow: #090909;
}

.bottom-card{
    padding: 10px;
}

.bottom-card h2{
    color: var(--red1);
    font-size: 30px;
    text-shadow: 0 4px 4px black;
    margin-bottom: 10px;
}

.bottom-card p{
    color: var(--red2);
    font-size: 20px;
}

button{
    background-color: var(--brown1);
    color: #090909;
    border-radius: 999px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 320px;
    height: 72px;
    border: none;
    font-size: 24px;
    opacity: 0.9;
    transform: all 200ms  linear;
}

button:hover{
    opacity: 1;
    cursor:pointer;

}

.top-card {
    width: 430px;
    height: 102px;
    overflow: hidden;
}


.top-card img{
    width: 300px;
    height: auto;
    transform: scale(1.3);
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;

}

@media (width >=768px) {
    .img-s1 {
        display: none;
        box-shadow: 0 4px 20px black;
    }

    .s1 {
        background-image: url('./images/bgDesktop.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title {
    font-family: "Libre Bodoni", serif;
    color: var(--brown2);
    font-size: 40px;
    text-shadow: o 4px 4px var(--black);
    width: 100%;
    text-align: center;
    text-transform: uppercase;

}

.line{
    display: none;
}

.frase{
   color: white;
   font-size: 32px;
   width: 100%;
   text-align: center;
   text-shadow: 0 4px 4px black;
}

}